body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

.pagination {
  text-align: center;
  padding: 0;
  margin: auto;
  margin-bottom: 10px;
}

.nav {
  margin-top: 0;
  box-shadow: 0 0 10px black;
  background: #023;
}

.nav li {
  display: inline-block;
  padding: 10px 30px;
  color: white;
}

.nav li:hover {
  background: #345;
}

.info {
  line-height: 1.5;
}

.info h1 {
  line-height: 1;
}

.info h1,
.info h2 {
  color: #045;
}

.resource {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 600px;
}

.resourceList {
  padding: 0;
  margin: 0;
  width: 100%;
}

.resourceList a {
  text-decoration: none;
  color: #045;
  font-weight: bold;
  line-height: 1.5;
  font-size: 30px;
}

.resource-title {
  text-align: center;
  font-size: 50px;
  color: #045;
  font-weight: bold;
  margin: 10px;
}

.resourceList a li {
  padding: 5px 40px;
  border-top: 2px solid #eee;
}

.resourceList a li:hover {
  color: #023;
  background: #ccddff;
}

.search-box {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.loading {
  text-align: center;
  padding: 20px;
}

.activeNav li {
  background: #345;
}
